<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58000072263-s90bcafoifcmd2idspc05ku58ipu52uo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58000072263-s90bcafoifcmd2idspc05ku58ipu52uo</string>
	<key>API_KEY</key>
	<string>AIzaSyB16bbkmy0rn_TBpe4JwDha2nIpjW2oURs</string>
	<key>GCM_SENDER_ID</key>
	<string>58000072263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unicorn.chat.client</string>
	<key>PROJECT_ID</key>
	<string>unicorn-46da5</string>
	<key>STORAGE_BUCKET</key>
	<string>unicorn-46da5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:58000072263:ios:c046a9dd79f52fec251b62</string>
</dict>
</plist>
